:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.main-container {
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #9fa3a5;
  border-radius: 25px;
}

main {
  min-height: 90vh;
  margin-left: 5rem;
  padding: 1rem;
}

.card-box {
  box-shadow: 0px 0px 0px grey;
  transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
  min-height: 409px;
}

.card-box:hover {
  box-shadow: 1px 8px 20px grey;
  transition: box-shadow 0.6s ease-in;
  min-height: 409px;
}

.Blue-underline {
  border-bottom: 2px solid #0f629d;
  padding-bottom: 3px;
  width: fit-content;
  color: black;
}

.main-loader {
  position: fixed;
  z-index: 999;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gradient-blue-background {
  background: linear-gradient(to right, #0f629d, #198ada);
  color: #fff;
}

.alert {
  margin-bottom: 0.5rem;
}

.profile-input input {
  margin: 10px 0px;
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 11.89px 0px;
}


.update-profile-btn {
  border-radius: 20px;
  border: 1px solid #198ada;
  background: #198ada;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.update-profile-btn:active {
  transform: scale(0.95);
}

.update-profile-btn:focus {
  outline: none;
}


/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
  font-size: 1rem;
}

.carousel img {
  height: 400px;
  width: 400px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
}


.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}