.shipping-wrapper {
  margin: 0 25%;
}

.shipping-main-title {
  text-align: center;
  margin: 20px 0px;
}

.nav .nav-item a {
  font-weight: bold;
  border: 2px solid lightgrey;
  background: lightgray;
}

.nav-item {
    margin-right: 0.9rem;
}